# ignore *
vars/
/node/node_modules
/server/node_modules
minifab
/node/dist
notes.txt
*.log
/testingFolder
explorer/
*/dist
/server/wallet
/server/database/database.db
# except
# !
test.sh
get-docker.sh